
<%layout("/layouts/boilerplate")%>
<body>
   
    <div class="row">
        <div class="col-8 offset-2">
        <br> <br>
        <h1>Create new Listing</h1>
        <form action="/listings" method="post"  class="needs-validation" novalidate   enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required> 
                <div class="valid-feedback">Title looks good</div> 
            </div>

            <div class="mb-3">
                <label for="decsription" class="form-label">Description</label>
                <textarea name="listing[description]" id="desc" rows="5" cols="30" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a brief description</div>
            </div>

        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" name="listing[image]" placeholder="enter image Link" class="form-control" >
        </div> -->

        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="listing[image]" placeholder="enter image Link" class="form-control" required>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div> 
            </div>
                <div class="col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">Country should be valid</div> 
                </div>
        </div>
     
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div> 
            </div>

     <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Select</label>
    <select class="custom-select" id="inputGroupSelect01" name="category">
        <option selected disabled value="">Category</option>
        <option value="Room">Room</option>
        <option value="Mountain">Mountain</option>
        <option value="Houseboat">Houseboat</option>
        <option value="Castle">Castle</option>
        <option value="Pool">Pool</option>
        <option value="Camp">Camp</option>
        <option value="Farm">Farm</option>
        <option value="Arctic">Arctic</option>
        <option value="Dome">Dome</option>
        <option value="Iconic">Iconic</option>
        <option value="Palace">Palace</option>
        <option value="Ski">Ski Resort</option>
    </select>
</div>

              
              <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
       
        </form>
        </div>
    </div>
  
</body>
